bcrypt
cloudpickle
Django
django-browser-reload
django-phonenumber-field
django-tailwind
dotenv
numpy
pandas
phonenumberslite
python-dotenv
python-slugify
PyYAML
requests
sqlparse
text-unidecode
urllib3
pyodbc
gunicorn
mssql-django
django-mssql-backend
whitenoise