{% extends 'sbapp/base.html' %}

{% block content %}
<div class="max-w-6xl mx-auto p-6 bg-white shadow-md rounded-lg">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">Loan details</h1>

    <div> 
        <table>
            <tr> <td> Customer : </td> <td> {{ loan.user.username }} </td> <td> status : </td><td>{{ loan.loan_simulation_status }} </td> </tr>
            <tr> <td colspan="4"></td> </tr>
            <tr> <td colspan="2"> </td ><td> prediction date :</td> <td>{{ loan.loan_simulation_date_utc }} </td> </tr>
            <tr> <td colspan="4"></td> </tr>
        </table>

        ?? {{loan.user.is_staff}} ??
        <br/>
        <table>
            <tr> <td>"negative event" proba :</td> <td>{{ loan.data.approval_proba_0 }}</td>  </tr>
            <tr> <td>"postitive event" proba :</td> <td>{{ loan.data.approval_proba_1 }} </td>  </tr>
        </table> 
    </div>

    <div class="overflow-x-auto">
        <table class="w-full border-collapse border border-gray-300">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border border-gray-300 px-4 py-2 text-center align-middle"> Feature</th>
                    <th class="border border-gray-300 px-4 py-2 text-center align-middle"> Loan value</th>
                    <th class="border border-gray-300 px-4 py-2 text-center align-middle"> Importance </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle"> state </td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.state }}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.data.feat_imp_state }}</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle"> bank </td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.bank }}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.data.feat_imp_bank }}</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle"> naics </td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.naics }}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.data.feat_imp_naics }}</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle"> term </td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.term }}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.data.feat_imp_term }}</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle"> no_emp </td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.no_emp }}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.data.feat_imp_no_emp }}</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle"> new_exist </td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.new_exist }}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.data.feat_imp_new_exist }}</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle"> create_job </td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle ">{{ loan.create_job }}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.data.feat_imp_create_job }}</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle"> retained_job </td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.retained_job }}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.data.feat_imp_retained_job }}</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle"> urban_rural </td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.urban_rural }}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.data.feat_imp_urban_rural }}</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle"> rev_line_cr </td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.rev_line_cr }}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.data.feat_imp_rev_line_cr }}</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle"> low_doc </td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.low_doc }}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.data.feat_imp_low_doc }}</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle"> gr_appv </td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.gr_appv }}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.data.feat_imp_gr_appv }}</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle"> recession </td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.recession }}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.data.feat_imp_recession }}</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle"> has_franchise </td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.has_franchise }}</td>
                    <td class="border border-gray-300 px-4 py-2 text-center align-middle">{{ loan.data.feat_imp_has_franchise }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}LoanResponseInfo